body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-box h1 {
    color: #3b5998;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.error-message {
	color: red;
}

.btn {
    background-color: #3b5998;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.btn:hover {
    background-color: #344e86;
}

.switch-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.switch-link a {
    color: #3b5998;
    text-decoration: none;
}

.switch-link a:hover {
    text-decoration: underline;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comment p {
    margin: 5px 0;
}

.comment .author {
    font-weight: bold;
    color: #555;
}

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
}

.delete-button:hover {
    color: darkred;
}

