<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>
<div class="auth-container">
    <div class="auth-box">
        <h1>Вход</h1>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Электронная почта</label>
                <input type="text" id="email" name="email" placeholder="Введите почту" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required>
            </div>
            <button type="submit" class="btn">Войти</button>
        </form>
        <p class="switch-link">Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
    </div>
</div>
</body>
</html>
